:root {
    --body-bg-color: #202124;
    --menu-bg-color: #010010;
    --menu-accent-color: #01f9ff;
}

body {
    background: var(--body-bg-color);
}

admin-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

chatters-panel {
    display: block;
    border: 2px solid var(--menu-accent-color);
    background-color: var(--menu-bg-color);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 30%;
    height: 500px;
}

chatters-panel ul {
    padding: 0;
}

chatters-panel li {
    list-style: none;
    color: var(--menu-accent-color);
}

chatters-panel li span {
    padding-left: 5px;
    font-size: small;
    color: lightgray;
}

mystery-panel {
    display: block;
    height: 500px;
    width: 30%;
    border: 2px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

quick-panel {
    display: flex;
    width: 30%;
    height: 500px;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}